name: "Devops github"
on:
  push:
    branches:
      - main
jobs:
  build:
      runs-on: ubuntu-latest
      steps:
        - name: 
          uses: actions/checkout@v2
        - name:  
          run: docker build -t devopsbarani .
        - name:  
          run: cat dev.html
        - name:  
          run: docker run -d --name devopscont -p 8047:80 devopsbarani
        - name:  
          uses: docker/login-action@v2
          with:
            username: ${{secrets.DOCKER_NAME}}
            password: ${{secrets.DOCKER_PASSWORD}}
        - name: 
          run: |
            docker tag devopsbarani baranigopal/devoprac:v3
            docker push baranigopal/devoprac:v3

      
        
