name: "Real CICD pipeline"
 
on:
  push:
    branches:
      - master
 
jobs:
  build:
    runs-on: self-hosted
    steps:
      - name: Start SSH agent
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
      - name: Build and run container on VM
        shell: bash
        run: |
          ssh -T -o StrictHostKeyChecking=no ${{ secrets.VM_USER }}@${{ secrets.VM_HOST }} << EOF
            echo "${DOCKER_PASSWORD}" | docker login -u "${DOCKER_USERNAME}" --password-stdin
            docker info
            docker ps -a
            cd /var/www/mywebsite
            git pull origin master
            docker build -t devops_image1 .
            docker stop devops_container
            docker rm -f devops_container
            docker run -d --name devops_container -p 8047:80 devops_image1
            echo "${SUDO_PASSWORD}" | sudo ufw allow 8047 || true
            docker tag devops_image1 baranigopal/devops_practice:v10
            docker push baranigopal/devops_practice:v10
            docker pull baranigopal/devops_practice:v10
            docker stop devops_container || true
            docker rm devops_container || true
            docker run -d --name devops_container -p 8047:80 baranigopal/devops_practice:v7
          EOF
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
          SUDO_PASSWORD: ${{secrets.SUDO_PASSWORD}}
 
 